/* Default values reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;

}

/* Color variables */
:root {
    --yellow: #e1aa12;
    --white: #efefef;
    --dark-blue: #072446;
    --mid-blue: #035c96;
    --light-blue: #b3cee1;
    --hash-blue: #6497b2;
}

::placeholder {
    color: var(--white);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--white);
}

::-ms-input-placeholder {
    color: var(--white);
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    height: 60px;
    background: var(--yellow);
    -moz-box-shadow: 0 2px 3px 4px rgba(105, 105, 105, 0.5);
    -webkit-box-shadow: 0 2px 3px 4px rgba(105, 105, 105, 0.5);
    box-shadow: 0 2px 3px 4px rgba(105, 105, 105, 0.5);
}

.navbar > ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar > ul > li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark-blue);
}
.navbar > ul > li > a:hover {
    color: var(--mid-blue);
    border-bottom: 2px solid var(--mid-blue);
}

/* Sections Configuration */
#about,
#contact,
#home,
#projects {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Home */
#bgvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.intro {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.intro:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 36, 70, 0.85);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(1.1);
}

.intro__presentation {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

.intro__presentation > h2 {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 4rem;
}

.intro__presentation > h2 > span {
    color: var(--yellow);
}

.intro__presentation > h3 {
    color: var(--white);
    font-size: 1.5rem;
    margin-top: 30px;
}

.call {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 100%;
}

.call__image > img {
    height: 180px;
    border: 5px solid var(--yellow);
    border-radius: 50%;
}

.call__content {
    width: 30%;
    margin-top: 2%;
}

.call__content > p {
    text-align: center;
    color: var(--white);
    font-size: 1.2rem;
    margin-top: 10px;
}

.arrowbox {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 40px;
}

.arrowbox > span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid var(--white);
    border-right: 1px solid var(--white);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrowbox > span:nth-child(2) {
    animation-delay: -0.2s;
}
.arrowbox > span:nth-child(3) {
    animation-delay: -0.4s;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

/* Projects */
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 20px;
    background-color: var(--light-blue);
}

#projects > h1 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-blue);
}

#projects > hr {
    margin: 10px 48%;
    border: 2px solid var(--dark-blue);
}

.projects__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects__card {
    width: 380px;
    height: 460px;
    margin: 50px 60px;
    background: var(--white);
    border: 4px solid var(--yellow);
    border-radius: 40px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.projects__card:hover {
    transform: translateY(20px);
}
.projects__card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    background: rgba(7, 36, 70, 0.8);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.projects__card:hover:before {
    opacity: 1;
}

.projects__card > img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
}

.projects__cardInfo {
    position: absolute;
    width: 380px;
    padding: 2rem 1rem;
    z-index: 5;
    color: var(--white);
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.projects__card:hover .projects__cardInfo {
    opacity: 1;
    transform: translateY(-50px);
}

.projects__cardInfo > h3 {
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.projects__cardInfo > p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.projects__cardInfo > a {
    text-decoration: none;
    text-align: right;
    margin-right: 15px;
    color: var(--yellow);
    font-size: 2rem;
    width: 30px;
}

#arrow-projects {
    text-decoration: none;
    color: var(--dark-blue);
}

/* About */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 20px;
    background-color: var(--mid-blue);
}

#about > h1 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--light-blue);
}

#about > hr {
    margin: 10px 48%;
    border: 2px solid var(--light-blue);
}

.about__container {
    display: flex;
    margin: 2%;
}

.about__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 2%;
}

.about__image > img {
    width: 100%;
    object-fit: cover;
    border: 4px solid var(--yellow);
    border-radius: 40px;
}

.about__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0 2%;
}

.about__info > p {
    font-size: 1.28rem;
    color: var(--white);
    margin-bottom: 20px;
}

#arrow-about {
    text-decoration: none;
    color: var(--light-blue);
    margin-top: 3%;
}

/* Contact */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: var(--hash-blue);
}

#contact > h1 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-blue);
}

#contact > hr {
    margin: 10px 48%;
    border: 2px solid var(--dark-blue);
}

.contact__form > h3 {
    margin-top: 20px;
    text-align: center;
    color: var(--white);
    font-weight: 400;
}

.contact__form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.contact__form > form > input,
.contact__form > form > textarea {
    width: 40%;
    background-color: var(--dark-blue);
    color: var(--white);
    border: 1px solid var(--yellow);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.contact__formBtn {
    width: 180px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    background: var(--dark-blue);
    border: 2px solid var(--yellow);
    outline: none;
    transition: 1s ease-in-out;
}
.contact__formBtn:hover {
    transition: 1s ease-in-out;
    background: var(--light-blue);
    border: 2px solid var(--dark-blue);
}

.contact__formBtn span {
    color: var(--yellow);
    font-size: 1.1rem;
    font-weight: 100;
}
.contact__formBtn:hover span {
    color: var(--dark-blue);
    transition: 1s ease-in-out;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 36, 70, 0.85);
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform: scaleX(1.1);
}

.footer__links {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

.footer__linksMail,
.footer__linksSocial {
    margin-bottom: 15px;
}

.footer__linksMail > a {
    color: var(--light-blue);
    font-size: 1rem;
    font-weight: bold;
}

.footer__linksSocial > a {
    color: var(--yellow);
    font-size: 2rem;
    margin: 0 15px;
}

.footer__links > p {
    color: var(--white);
    font-size: 0.8rem;
}

#arrow-contact {
    margin-top: 5%;
    transform: rotate(180deg);
    text-decoration: none;
    color: var(--dark-blue);
}

/* Common elements */
.arrow {
    text-align: center;
    margin: 2% 0 0;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .intro__presentation>h2 {
        font-size: 3rem;
    }
    .intro__presentation>h3 {
        font-size: 1.3rem;
    }

    .call__content{
        width: 60%;
    }

    .about__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0; 
        width: 100%;
    }
    .about__image,
    .about__info {
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    .contact__form > form > input,
    .contact__form > form > textarea {
        width: 70%;
    }
}

@media screen and (max-width: 550px){
    .navbar {
        width: 100%;
        height: 40px;
    }
    
    .navbar > ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
    }
    
    .navbar > ul > li {
        margin: 0 0.2rem;
        padding: 0.5rem;
        font-size: 1rem;
    }
        
    .intro {
        height: 35vh;
    }
    .intro__presentation>h2 {
        font-size: 2rem;
    }
    .intro__presentation>h3 {
        font-size: 1rem;
    }

    .call__content{
        width: 80%;
    }
}

@media screen and (max-width: 445px){
    .intro {
        height: 30vh;
    }
    
    .navbar > ul > li {
        margin: 0.2rem;
        padding: 0.2rem;
    }

    .projects__card {
        width: 280px;
        height: 360px;
        margin: 20px 10px;
    }

    .projects__cardInfo {
        position: absolute;
        width: 280px;
        padding: 1rem;
    }
    .projects__card:hover .projects__cardInfo {
        opacity: 1;
        transform: translateY(-50px);
    }
    
    .projects__cardInfo > h3 {
        margin-bottom: 5px;
        font-size: 1rem;
    }
    
    .projects__cardInfo > p {
        margin-bottom: 10px;
        font-size: 0.9rem;
    }
    
    .projects__cardInfo > a {
        font-size: 1rem;
    }

    .about__info>p{
        font-size: 0.9rem;
    }

    .contact__form > h3 {
        font-size: 1rem;
        margin: 5px;
    }

    .contact__form > form > input,
    .contact__form > form > textarea {
    width: 80%;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 0.7rem;
    }

    .contact__formBtn {
        width: 80px;
        height: 30px;
        margin-top: 5px;
    }

    .contact__formBtn span {
        font-size: 0.7rem;
    }

    .footer {
        height: 18vh;
    }
    
    .footer__linksMail > a {
        font-size: 0.7rem;
    }
    
    .footer__linksSocial > a {
        font-size: 1rem;
    }
    
    .footer__links > p {
        font-size: 0.5rem;
    }
    
    #arrow-contact {
        margin-top: 35px;
    }
}